<div class="card" style="width: 18rem;">
	<img class="card-img-right" [src]="child.imagePath" alt="{{child.firstName}} {{child.lastName}}">
	<div class="card-body">
		<h5 class="card-title">{{child.firstName}} {{child.lastName}}</h5>
		<p class="card-text">
			{{child.id}}
			{{child.dob}} <br>
			{{child.email}}<br>
			{{child.phone}} <br>
			{{child.street}} <br>
			{{child.zip}} {{child.city}} <br>
			{{child.gender}}
			{{child.group}}
		</p>
	</div>
</div>
<!-- 

<div class="row">
	<div class="col-xs-12">

		<div class="pull-left">
			<h4 class="list-group-item-heading">{{child.firstName}} {{child.lastName}}</h4>
			<p class="list-group-item-text">
				{{child.id}}
				{{child.dob}} <br>
				{{child.email}}<br>
				{{child.phone}} <br>
				{{child.street}} <br>
				{{child.zip}} {{child.city}} <br>
				{{child.gender}}
				{{child.gender}}
				{{child.group}}
			</p>
			<span class="pull-right">
				<img [src]="child.imagePath" alt="{{child.firstName}} {{child.lastName}}" class="img-responsive"
					style="max-height: 50px;">
			</span>
		</div>
	</div> -->

	<div class="row">
		<div class="col-xs-12">
			<div class="btn-group">
				<button type="button" class="btn btn-primary">
					Edit Child
				</button>
			</div>
		</div>
	</div>