<label>Bambini App</label>
<p [ngStyle]="{backgroundColor: getColour()}">
	Children in this group are <br>
	{{getFirstName()}} {{getLastName()}} <br>
	{{getDob()}} <br>
	{{getEmail()}}<br>
	{{getPhone()}} <br>
	{{getStreet()}} <br>
	{{getZip()}} {{getCity()}} <br>
</p>

<p>
	<button class="btn btn-primary" (click)="onNewChild()">
		New Child
	</button>
</p>
<p *ngIf="showInputField">
	<!-- <input type="text" class="form-control" (input)="createNewChild($event)" required size="12"> -->
	<app-new-child></app-new-child>
</p>

