<!-- <p>
	Children in this group are: <br>
	{{firstName}} {{lastName}} <br>
	{{dob}} <br>
	{{email}}<br>
	{{phone}} <br>
	{{street}} <br>
	{{zip}} {{city}} <br>
	{{gender}} <br>
</p> -->
<div class="row">
	<div class="col-xs-12">
		<button class="btn btn-success" routerLink="/newChild">New Child</button>
	</div>
</div>
<p *ngIf="showInputField">
	<app-new-child></app-new-child>
</p>
<h4>Children in this group are:</h4>
<div *ngFor="let child of children">
	<div class="row">
		<div class="col-xs-12">
			<a class="list-group-item clearfix" routerLink="/children/child.id">
				<div class="pull-left">
					<h4 class="list-group-item-heading">{{child.firstName}} {{child.lastName}}</h4>
					<span class="pull-right">
						<img [src]="child.imagePath" alt="{{child.firstName}} {{child.lastName}}" class="img-responsive"
							style="max-height: 50px;">
					</span>
				</div>

			</a>
		</div>
	</div>
</div>